# Smart Match Project Exploring

### EDA

In [32]:
import pandas as pd
import json

In [2]:
pwd

u'/home/ubuntu/repo/project/SeekPanda_SmartMatch/Untitled Folder'

In [3]:
cd ..

/home/ubuntu/repo/project/SeekPanda_SmartMatch

In [4]:
filename = 'data/raw_data_jobs.csv'
df_jobs = pd.read_csv(filename)

In [5]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 661 entries, 0 to 660
Data columns (total 10 columns):
id                661 non-null int64
requester_id      661 non-null int64
inserted_at       661 non-null object
job_details       657 non-null object
industry          0 non-null float64
service_type      0 non-null float64
industry_depth    0 non-null float64
location          0 non-null float64
prep_file_URL     0 non-null float64
deadline          0 non-null float64
dtypes: float64(6), int64(2), object(2)
memory usage: 56.8+ KB

In [6]:
df_jobs.head(1)

,id,requester_id,inserted_at,job_details,industry,service_type,industry_depth,location,prep_file_URL,deadline
0,1,22,11/5/2015 14:51:43,"{answers"": {""email_8765490"": null, ""email_9107...",NaN,NaN,NaN,NaN,NaN,NaN

check the job_details

In [20]:
job_sample = df_jobs['job_details'][1]

In [8]:
job_sample

'{answers": {"email_8765490": null, "email_9107531": null, "rating_9045688": "1", "yesno_10176601": "0", "dropdown_7603830": "Agriculture", "dropdown_9077980": "Ningbo", "textarea_7603814": null, "textarea_10173448": "TEST", "textfield_9116414": null, "fileupload_7219011": null, "list_6462402_other": null, "list_9115461_other": null, "textfield_10176495": null, "textfield_10176836": null, "list_6462400_choice": "Critical. Being able to understand terminology is a major determinant of success.", "list_6462401_choice": "Critical. I want someone with extensive experience in these situations.", "list_9048040_choice": "In the next 24 hours", "list_9080733_choice": null, "list_9115461_choice": null, "list_9116692_choice": null, "list_9117425_choice": null, "list_10881559_choice": null, "listimage_9077858_other": null, "listimage_7603806_choice": "interpreting (in-person)", "listimage_9077858_choice": "business meeting", "list_6462402_choice_7683146": null, "list_6462402_choice_7683147": null, "list_6462402_choice_8148701": null, "list_6462402_choice_8251708": null}}"'

* interested feature
dropdown_7603830 : industry
listimage_7603806_choice : service_type
list_6462400_choice : industry_depth
dropdown_9077980 : location
fileupload_7219011: prep_file_URL
list_9048040_choice : deadline

In [53]:
df_jobs = df_jobs[pd.notnull(df_jobs['job_details'])]

In [12]:
df_jobs['inserted_at'] = pd.to_datetime(df_jobs['inserted_at'])

In [16]:
df_jobs['inserted_at'][0] - df_jobs['inserted_at'][1]

Timedelta('-2 days +11:05:05')

In [55]:
df_jobs['job_details'] = df_jobs['job_details'].apply(lambda x: json.loads(x[11:-2]))

/home/ubuntu/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [68]:
name_code = {'industry':'dropdown_7603830', 'service_type':'listimage_7603806_choice', 'industry_depth': 'list_6462400_choice', 
'location':'dropdown_9077980','prep_file_URL':'fileupload_7219011', 'deadline':'list_9048040_choice'}

In [57]:
features = [industry, service_type, industry_depth, location, prep_file_URL, deadline]

In [ ]:
names_code = ['dropdown_7603830', 'listimage_7603806_choice'
industry_depth = 'list_6462400_choice' 
location = 'dropdown_9077980' 
prep_file_URL = 'fileupload_7219011' 
deadline = 'list_9048040_choice' ]

In [70]:
for k, v in name_code.iteritems():
    df_jobs[k] = df_jobs['job_details'].apply(lambda x: x[v])

In [72]:
df_jobs.head(1)

,id,requester_id,inserted_at,job_details,industry,service_type,industry_depth,location,prep_file_URL,deadline,dropdown_7603830,listimage_7603806_choice,list_6462400_choice,dropdown_9077980,fileupload_7219011,list_9048040_choice
0,1,22,2015-11-05 14:51:43,{u'list_9048040_choice': u'In the next 24 hour...,Agriculture,interpreting (in-person),Critical. Being able to understand terminology...,Ningbo,None,In the next 24 hours,Agriculture,interpreting (in-person),Critical. Being able to understand terminology...,Ningbo,None,In the next 24 hours