Goal:

1. Identify jobs having service_type = interpreting (in-person)

2. Introduce a temporary variable called match_percentage

3. For each job, calculate match_percentage (detail below) for all pandas

4. Return a sorted array (in descending order of match percentage) of the name and

5. target_price fields of the top matching pandas

In [1]:
import pandas as pd

In [2]:
df_jobs = pd.read_csv('../result/extracted_jobs.csv')

In [3]:
df_jobs.head(2)

,Unnamed: 0,id,requester_id,inserted_at,job_details,industry,service_type,industry_depth,location,prep_file_URL,deadline
0,0,1,22,2015-11-05 14:51:43,{u'list_9048040_choice': u'In the next 24 hour...,Agriculture,interpreting (in-person),Critical. Being able to understand terminology...,Ningbo,NaN,2015-11-06 14:51:43
1,1,2,22,2015-11-07 03:46:38,{u'list_9048040_choice': u'In the next 24 hour...,Archaeology,interpreting (in-person),A low priority. This only requires everyday fa...,Shanghai,NaN,2015-11-08 03:46:38

In [5]:
df_jobs['service_type'].unique()

array(['interpreting (in-person)', 'event hosting',
       'interpreting (on the phone)', 'translation'], dtype=object)